<div class="overall_container">

  <div class="form">
    <%= simple_form_for(@job) do |f| %>
      <% if @job.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @job.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="group">
        <%= f.label :help_name %>
        <%= f.text_field :name %>
      </div>

      <div class="group">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div class="group">
        <%= f.label :location %>
        <%= f.text_field :location %>
      </div>

      <div class="group">
        <%= f.label :price %>
        <%= f.text_field :price %>
      </div>

      <div class="group">
        <%= f.association :user %>
      </div>

      <div class="group">
        <%= f.association :category %>
      </div>

      <%= f.submit "Create Help", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
