<div class="overall_container_sidebar">
  <div class="main_container">
    <div class="sidebar">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="body_container">
      <div class="top_banner">
        <%= render 'shared/searchform' %>
      </div>
      <div class="cards_container background_grey">
        <h3 class="remove_topmargin"><%= Job.count %> job listings</h3>
        <% @jobs.each do |job| %>
          <div class="row">
            <div class="col-xs-12">
              <div class="card">
                <div class="card_image">
                  <%= image_tag job.photo, width: 250, height: 150 %>
                </div>
                <div class="card_description">
                  <h4><%= job.name %></h4>
                  <h5><%= job.user.email %></h5>
                  <p><%= job.description %></p>
                </div>
                <div class="card_rating">
                  <p><%= job.bookings.count %> booking completed</p>
                  <% ratings = 0 %>
                  <% job.bookings.each do |booking| %>
                  <% ratings += booking.rating %>
                  <% avg_rating = (ratings / job.bookings.count) %>
                  <p>rating: <%= avg_rating %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
     </div>
    </div>
  </div>
</div>

