<div class="overall_container_sidebar">
  <div class="main_container">
    <div class="sidebar">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="body_container">
      <div class="top_banner">
        <%= render 'shared/searchform' %>
      </div>
      <div class="cards_container background_grey">
        <h5 class="remove_topmargin"><strong><%= @jobs.count %> job listing</strong></h5>
        <% @jobs.each do |job| %>
          <div class="row">
            <div class="col-xs-12">
              <div class="card">
                <div class="card_image">
                  <%= cl_image_tag job.photo, width: 250, height: 200 %>
                </div>
                <div class="card_description">
                  <h4><%= link_to job.name, job_path(job) %></h4>
                  <p><%= job.location %></p>
                  <h5><%= job.user.email %></h5>
                  <p><%= job.description %></p>
                </div>
                <div class="card_rating">
                  <p><strong>$<%= job.price %>/hour</strong></p>
                  <p><%= job.bookings.count %> booking </p>
                  <p>Rating: <%= job.average_rating %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
     </div>
    </div>
  </div>
</div>

