<div class="overall_container">
  <div class="job_content">
    <div class="row">
      <div class="col-xs-6">
        <div class="job-desc">
          <h3><%= "#{@job.name}"%></h3>
        </div>
        <div class="card" style="background-color: white">
          <br>
          <div class="card-description">
            <p>
              <%= "#{@job.description}" %>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div>
          <%= cl_image_tag "#{@job.photo}", height: 300, crop: :fill %>
        </div>
        <br>
      </div>
      <div class="col-xs-6 margin_bottom">
        <div>
          <% if policy(@job).edit? %>
          <%= link_to "Edit", edit_job_path(@job), class: "btn btn-primary" %>
          <% else %>
          <div class="booking_form_group">
            <%= render 'bookings/bookingform', job: @job, booking: @booking  %>
          </div>
          <% end %>
          <% if policy(@job).destroy? %>
          <%= link_to "Delete", job_path(@job), class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        <br>
        <div class="backlink">
          <%= link_to "View other job listings", jobs_path, class: "blue_font" %>
        </div>
      </div>
      <div class="col-xs-6 margin_bottom review_box">
        <% @job.bookings.each do |booking| %>
          <h5><strong><%= pluralize booking.reviews.count, "review" %></strong></h5>
          <% booking.reviews.each do |review| %>
            <p>"<%= review.content %>" (<%= review.rating %> out of 5)</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--  if policy(Job).create?
        link_to "New job", new_job_path
        end -->
