


  <% @bookings.each do |booking| %>
<div class="message">
  <div class="message-name">
    <h3><%= booking.user.email %></h3>
    <p><%= booking.date %></p>
  </div>
  <div class="message-body">
    <p><%= booking.message %></p>
  </div>
  <div class="message-status">
    <p class="status pending">Pending</p>
    <%= link_to confirm_path(booking.job, booking) do %>
  <%= button_tag "confirm", class: 'btn-primary price' %>
  <% end %>
  </div>
</div>
  <% end %>
