<div class="form_group">
  <div class="form_input">
    <%= form_tag(jobs_path method: :get) do %>
      WHAT <%= text_field_tag :name %>
    <% end %>
  </div>
  <div class="form_input">
    <%= form_tag(jobs_path method: :get) do %>
      WHERE <%= text_field_tag :location %>
  </div>
  <div class="form_input">
    <%= submit_tag 'Search', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
