<div class="tabs">
  <a class="tab" href="/dashboard">
    <h3>My Jobs</h3>
  </a>
  <a class="tab active" href="/dashboard/bookings">
    <h3>My Bookings</h3>
  </a>
</div>

<div class="overall_container">
  <div class="dashboard_container">
    <% @bookings.each do |booking| %>
      <div class="message">
        <%= cl_image_tag booking.job.photo, width: 150, height: 100 %>
        <div class="message-name">
          <p><%= booking.date %></p>
          <p>
            <%= link_to edit_job_booking_path(booking.job, booking) do %>
              <i class="fas fa-edit"></i>
            <% end %>
             |
            <%= link_to job_booking_path(booking.job, booking), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fas fa-trash-alt"></i></p>
            <% end %>
        </div>
        <div class="message-body">
          <p><strong><%= booking.job.name %></strong></p>
          <p>With <%= booking.job.user.email %></p>
        </div>
        <div class="message-status">
          <p class="status pending"><%= booking.status %></p>
          <p class="price">$<%= booking.job.price %> /hr</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
